    html,
    body {
        background-color: white;
        font-family: 'segoe ui';
        color: white;
    }
    
    button:hover {
        background-color: yellowgreen !important;
        border: 1px solid yellowgreen !important;
    }
    
    .first_contn {
        background-image: url(../images/pexelskidsinclassroom.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
    }
    
    .first_contn div {
        border: 0;
        border-radius: 5px;
        margin-right: 25px;
    }
    
    @media only screen and (min-width:700px) {
        .first_contn div {
            margin-right: 50px;
        }
    }
    
    .dropdown-menu {
        padding: 0 !important;
    }
    
    .dropdown-menu a:hover {
        background-color: yellowgreen;
    }
    
    .navbar-brand img {
        width: 50px;
        padding-left: 15px;
    }
    
    @media only screen and (max-width:700px) {
        .large_item {
            display: none;
        }
    }
    
    .nav-item {
        color: black;
        transition: .50s;
    }
    
    .nav-item:hover {
        text-decoration: none;
        color: inherit;
        border-bottom: 2px solid yellowgreen;
    }
    
    .jumbotron {
        color: white !important;
    }
    
    .jumbotron p {
        font-size: 30px;
        line-height: 25px;
    }
